

/* 
=============================================================
SearchForm
=============================================================
*/
.section {
    padding: 2rem 0;
    margin-left :300px ;
    margin-right: 300px ;
    
  }