/* 
====== 
Cocktails List 
======
*/
.section {
    padding: 2rem 0;
    margin-left :300px ;
    margin-right: 300px ;
  }
  .section-title {
    font-size: 3rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 1rem;
  }
  .cocktails-center {
    width: var(--smallWidth);
    margin: 0 auto;
    max-width: var(--fullWidth);
    display: grid;
    column-gap: 1.8rem;
    row-gap: 1.8rem;

  }
  .cocktails-center {
    margin-left:400;
    grid-template-columns: repeat(4, 1fr);
  }